.container{
    background-color: rgb(236, 235, 233);
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 0.2fr 0.8fr 1.5fr 0.5fr 0.3fr 0.3fr;
    grid-template-areas: 
    " header header header header"
    "main-card main-card main-card main-card"
    "nav nav nav nav"
    "aboutUs aboutUs aboutUs aboutUs"
    "all-images all-images all-images all-images"
    "form form form form"
    "footer footer footer footer";
    grid-gap: 2em;
    font-weight: 800;
    text-transform: uppercase;
    color: black;
    text-align: center;
     

}

body{
    background-color: rgb(215, 209, 196);
}

header{
    background-color: rgb(246, 199, 112);
    grid-area: header;
}
nav{
    background-color: orange;
    grid-area: nav;
}
nav ul{
    
}
#main-card{
    background-color:rgb(205, 181, 136);
    grid-area: main-card;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;   
    
}
#main-card img{
    align-items: center;
    display: block;
    height: 650px;
    width: 550px;
    padding: 20px;
    border-radius: 60px;
    
}
#aboutUs{
    background-color: orange;
    grid-area: aboutUs;
}
#all-images{
    background-color:rgb(244, 215, 162);
    grid-area: all-images;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;   
    align-items: center;
    justify-content: center;
     
}

#all-images .card{
    margin: 10px;
    padding: 5px;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#all-images .card img{
    height: 400px;
    width: 320px;
    border-radius: 20px;
    
}

#form{
    background-color: rgb(251, 218, 158);
    grid-area: form;
    
}
.card img{
    object-fit: fill;
    height: 20%;
    width: 50%;
}

#footer{
    background-color:rgb(232, 211, 171);
    grid-area: footer;
}

@media only screen and(max-width:550px) {
    .container{
        grid-template-columns: 1fr;
        grid-template-rows: ;
    }
}